{% extends "layout.html" %}
{% block body %}
<div style="background-image: url('{{ url_for( 'static', filename='img/edabg5.jpg')}}');">
<h1 class="text-center">Model</h1>
    <div class="container">
        <h2>Upload the Data</h2>
      <form action="/uploader" method="post" enctype="multipart/form-data">
        <input type="file" name="file1">
        <button type="submit"  class="btn btn-primary">Submit</button>
      </form>
<h2>{{msg}}</h2>

    </div>

    <div class="container">
        <h2>Model Evaluation</h2>
      <form class="form-inline text-center"  action="/model_Eval" method="post">

          <label class="my-1 mr-2" for="inlineFormCustomSelectPref2">Train Data</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2" name="train_data">
            {% for i in avil %}
            <option value={{i}}>{{i}}</option>
            {% endfor %}
           </select>

          <label class="my-1 mr-2" for="inlineFormCustomSelectPref3">Evaluation Data</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref3" name="test_data">
            {% for i in avil %}
            <option value={{i}}>{{i}}</option>
            {% endfor %}
           </select>

          <label class="my-1 mr-2" for="inlineFormCustomSelectPref1">Model Selection</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref1" name="modelselection">
            <option value=DecissionTree>DecissionTree</option>
            <option value=RandomForest>RandomForest</option>
            <option value=CatBoost>CatBoost</option>
            <option value=XGBoost>XGBoost</option>
           </select>
        <button type="submit"  class="btn btn-primary">Submit</button>
      </form>
        <form action="/download" class="form-inline text-center centre" method="post">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref1">Click Here to download the output data set</label>
            <button class="btn btn-primary"  type="submit">Download </button>
        </form>

<!--Table container inside the container containning the form-->
        <div class="alert alert-warning" role="alert">
                {{messg}}
        </div>
        <div style="overflow:auto;" class="container h-25 d-inline-block " >
    <table  class="table table-dark">
        <thead>
        <tr>
        {% for colname in out %}
        <th class="text-center">{{colname}}</th>
            {% endfor %}
        </tr>
        </thead>

        {% for i in range(0,len) %}
        <tr>
        {% for value in out %}
            <td class="text-center">{{out[value][i]}}</td>
        {% endfor %}
        </tr>
            {% endfor %}
    </table>
    </div>

    </div>

</div>

{% endblock %}